@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0e0e0f;
    scroll-behavior: smooth;
    font-family: 'Libre Franklin', sans-serif;
}

@layer components {
    .active-nav {
      @apply h-[2px] scale-y-75 bg-secondary rounded-md origin-left duration-300 group-hover:scale-x-100
    }
  }

::-webkit-scrollbar {
    max-width: 10px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #ae45ff;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #4E586E;
}
